<!DOCTYPE html>
<!--tirar head e body, decidir aonde vai ficar a tela cadastro e conectar ao banco de dados junatmente no arquivo com o caminho APP.PY-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CadastroStyle.css">
    <title>Formulario responsivo com html e css</title>
</head>

<body>
    <div class="box">
        <div class="img-box">
            <img src="/static/img/logoPNG.png">
        </div>
        <div class="form-box">
            <h2>Criar Conta</h2>
            <form action="#">
                <div class="input-group">
                    <label for="nome"> Nome Completo</label>
                    <input type="text" id="nome" placeholder="Digite o seu nome completo" required>
                </div>

                <div class="input-group">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" placeholder="Digite o seu email" required>
                </div>

                <div class="input-group">
                    <label for="text">Ocupação</label>
                    <input type="text" id="ocupacao" placeholder="Digite a Ocupação do Profissional" required>
                </div>

                <div class="input-group">
                    <label for="text">Instituição</label>
                    <input type="text" id="instituicao" placeholder="Digite a Instituição" required>
                </div>

                <div class="input-group w50">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" placeholder="Digite sua senha" required>
                </div>

                <div class="input-group w50">
                    <label for="Confirmarsenha">Confirmar Senha</label>
                    <input type="password" id="Confirmarsenha" placeholder="Confirme a senha" required>
                </div>

                <div class="input-group">
                    <button>Criar</button>
                </div>

            </form>
        </div>
    </div>
</body>
</html>